!!! 5

%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "description", :content => "Resumé for Matthew Willhite" }

    %title Matthew Willhite | Resumé
    
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" } 
    %link{ :rel => "stylesheet", :href => "/stylesheets/styles.css" }

  %body
    %header
      %img{ :src => Gravatar.new("matthew.willhite@gmail.com").image_url, :alt => "Picture of Matthew Willhite" } 
      %h1 Matthew Willhite
      %ol
        %li 
          %a{ :href => "mailto:matthew.willhite@gmail.com?subject=Come%20work%20for%20us%21" } matthew.willhite@gmail.com
        %li
          miwillhite on 
          %a{ :href => "http://github.com/miwillhite" } github 
          |
          %a{ :href => "http://twitter.com/miwillhite" } twitter

        %li 1-503-777-7365
  
    = yield
    
    %footer
      %p 
        \# This is a Sinatra 1.0 application written in Haml/Sass, using HTML5 Markup. 
        %br
        ="# (c) #{Time.now.year}. Matthew Willhite. All rights reserved."