
%hgroup
  %img{ :src => Gravatar.new("matthew.willhite@gmail.com").image_url, :alt => "Picture of Matthew Willhite" } 
  %h1 Matthew Willhite
  %ol
    %li 
      %a{ :href => "mailto:matthew.willhite@gmail.com?subject=Come work for us!" } matthew.willhite@gmail.com
    %li
      miwillhite on 
      %a{ :href => "http://github.com/miwillhite" } github 
      |
      %a{ :href => "http://twitter.com/miwillhite" } twitter

    %li 1-503-777-7365
        
    
%h2 Objective
%p.mission
  %strong To practice web development.
  / Couldn't really think of anything else to say here -- it was all expanding on the same basic idea. I'm disappointed that the <blink> tag doesn't work anymore though, that would have been a nice touch, I think.

   
%h2 Skills

%ol
  %li 
    %h3 General
    %p Problem Solving, Learning, Teaching, Researching, Debugging, Drawing
    
  %li
    %h3 
      Development 
      .note (the order is somewhat relevant)
    %p Ruby, Rails, Javascript, Git, XHTML, CSS, PHP

  %li
    %h3 Software
    %p Textmate, XMind, Photoshop, Illustrator, InDesign, Flash, Fireworks, Google Docs


%h2 Experiences

%ol
  %li
    %h3
      Fleet Ventures |
      %em Project Lead / Developer
    %p.desc Ruby/Javascript development, and UI/UX design
    %p.date Winter 2010 &#8211; Present

  %li
    %h3
      Squid Graphic Design |
      %em Partner / Designer / Developer / Project Manager
    %p.desc Full service graphic design studio: project management, print/web design, and website development
    %p.date Fall 2007 &#8211; Winter 2010

  %li
    %h3
      Manifest Web design |
      %em Designer / Developer
    %p.desc Website design and development
    %p.date Summer 2009 &#8211; Winter 2010

  %li
    %h3
      PosterGarden |
      %em Creative Specialist
    %p.desc
      Trade show display design, graphic output, website design/development
    %p.date Fall 2006 &#8211; Summer 2009

  %li
    %h3
      Shorthand Media |
      %em Developer / Designer
    %p.desc Assistance in Actionscript programming in websites and flash-based applications
    %p.date Fall 2007 &#8211; Winter 2008

  %li
    %h3
      World Forest Investment |
      %em Designer / Developer
    %p.desc Identity design, implementation of promotional materials and company website
    %p.date Spring 2004 &#8211; Winter 2010


%h2 Aspirations

%ol
  %li
    %h3 Community
    %p Contribute more code. I&rsquo;ve been working harder to work on open source projects and to write more.
    %p I want to teach. Really, I just want to learn more, but I think teaching will help me learn things on a deeper level. (helping people is a nice bonus too)
    
  %li
    %h3 Career
    %p I&rsquo;m not looking for a job, I&rsquo;m looking for something that will challenge me to do my best, to learn new things, and to always look ahead.
    
%h2 Education

%ol
  %li
    %h3 Portland State University
    %p.desc Graphic Design
    %p.date Fall 2003 &#8211; Spring 2007
