$prominent: #333
$normal:    #666
$subdued:   #AAA
$highlight: #FFFAC5
$rule:      #319350
$active:    #F00

$section_break: 45px

@mixin clearfix
  *display:     inline-block
  &:after      
    :content    " "
    :display    block
    :height     0
    :clear      both
    :visibility hidden

@mixin inlineblock
  :display -moz-inline-stack
  :display inline-block
  *display: inline
  :zoom 1

@import reset.sass

body
  :border
    :top 10px solid $rule
    :bottom 17px solid $rule
  :color $normal
  :padding 30px 65px
  :background #FFF
  :font 
    :family Verdana, sans-serif
    :weight normal
    :size .75em
  :line-height 1.5em

header, footer, section
  :max-width 600px

header
  :margin-bottom $section_break
  :line-height 1.2em
  ol li
    :margin-bottom 3px
  
nav 
  :margin-bottom $section_break + 15px
  :color $prominent
  :font
    :family Georgia
    :size 1.4em
  ul
    li
      :margin-right 8px
      @include inlineblock
    
ol li
  :margin-bottom $section_break / 2
  
section 
  ol li
    @include clearfix
  :margin-bottom $section_break
  img
    :margin-top 0
    :border 1px solid $subdued + #222
    
pre, code
  :background $subdued + #505050

pre
  :margin-bottom 18px
  :border 1px solid $subdued + #222
  :overflow auto

code
  :font
    :family Monaco, Courier
    :size .9em

footer
  :margin-bottom $section_break
  p
    @extend code
    :line-height 1.5em
    :font-style italic
    :color $subdued
    :background none

h1, h2
  :font
    :family Georgia, serif
    :weight normal
  :color $prominent
  :margin 0
  :padding 0

h1
  :font-size 2.4em
  :margin-bottom 10px

h2  
  :letter-spacing .05em
  :margin-bottom $section_break / 3
  :font-size 1.8em

h3, h4
  :text-transform uppercase
  :letter-spacing .15em

h3
  :font-weight normal
  :color $prominent
  :margin-bottom 3px
  i
    :color $subdued - #111
  .note
    @extend em

h4
  :font-size 1.2em

h5
  :font-weight bold
  :color $prominent
  :margin-bottom 3px
  &:after
    :content ':'

p
  :margin-bottom 9px

a
  img
    :opacity .85
  &:hover
    :background $highlight
    img
      :opacity 1
  &:active
    :color $active
    
i
  :font-family Georgia, serif
  :font-style italic
  :text-transform none
  :letter-spacing 0
  
strong
  :font-weight bold
  :color $prominent
  :background $highlight


img
  :float left
  :width 80px
  :height 80px
  :margin
    :right 10px
    :top -4px
    
  &.screencap
    :width auto
    :height auto
    :float none
    :display block
    :margin-bottom 18px

      
.objective
  :margin-bottom $section_break
    
.desc
  :margin-bottom 3px

.date
  @extend h4
  :font-size 10px
  :color $subdued - #111
