%h2 Code Samples

%ol
  %li 
    %h3 Something interesting
    %p [Code Block]

  %li 
    %h3 Something interesting
    %p [Code Block]

  %li 
    %h3 Something interesting
    %p [Code Block]
    

%h2 Sample Sites

%ol
  %li 
    %h3 Something interesting
    %p [Screencap and link]

  %li 
    %h3 Something interesting
    %p [Screencap and link]

  %li 
    %h3 Something interesting
    %p [Screencap and link]


%h2 Interface and Graphic Design

%ol
  %li 
    %h3 Something interesting
    %p [Img]

  %li 
    %h3 Something interesting
    %p [Img]

  %li 
    %h3 Something interesting
    %p [Img]